<app-shell>
  <ul>
    <li>
        <a routerLink="/arrow">Arrow Functions</a>
      
    </li>
    <li>
      <a routerLink="/creation">Creation History</a>
    </li>
    <li>
      <a routerLink="/let">Let</a>
    </li>
    <li>
      <a routerLink="/var">Var</a>
    </li>
    <li>
      <a routerLink="/def">Functions</a>
    </li>
    <li>
      <a routerLink="/reverse">Reverse</a>
    </li>
    <li>
      <a routerLink="/callback">Call Back Fucntion</a>
    </li>
    <li>
      <a routerLink="/call">Call Function</a>
    </li>
    <li>
      <a routerLink="/array">Array</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</app-shell>